@font-face {
  font-family: HMSansLatin-Regular;
  src: url('HMSansLatin-Regular.woff2') format('woff2');
}
@font-face {
  font-family: HMSansLatin-Bold;
  src: url('HMSansLatin-Bold.woff2') format('woff2');
}
